.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.title {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 0 5px;
  margin: 0;
  z-index: 1;
}

.content {
  width: 67.5%;
  height: 78%;
  padding: 4%;
  margin-top: 10px;
  background-color: #e7e7e7;
  overflow-y: auto;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2.3em;
  box-sizing: border-box;

}

.infoContainer p, .movesContainer li {
  margin: 5px 0;
  line-height: 1.2;
}

.movesContainer ul {
  list-style-type: none;
  padding-left: 0;
}
