.typeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25.5%;
  height: 100%; 
  border-radius: 10px;
  font-size: 1.55em;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  color: black;
}

.typeBox span {
  display: block;
  text-align: center;
}
